---
layout: home
title: Kingdom Building Ministries
slider:
  - url: "/img/home/deep-camp.jpg"
  - url: "/img/home/ministry-guide.jpg"
  - url: /img/home/training.jpg
published: true
---

.introduction-section
  .row
    .section-1
      :markdown
        # *Welcome* to Kingdom Building Ministries.
        Kingdom Building Ministries is passionate about a <i>hearts on fire, lives on purpose</i> movement dedicated to seeing individuals *challenged*, *equipped* and *mobilized* as passionate lovers of and effective everyday ministers for God. KBM creates a place for you and God to connect – passing the baton of this wonderful life of being fully surrendered to God and His plan for the world as everyday Kingdom <i>laborers</i>.   
        
        Laborers are those who are making a difference in people’s lives and in God’s Kingdom by actively and lovingly serving those around them. They get into the mud puddles of life’s deepest needs. They’re *ordinary* people who are making an *extraordinary* difference in the places where God has given them influence – their families, neighborhoods, communities, schools, workplaces, churches, etc. They’re taking their love for God into places all over the world by putting their Christian faith into action in practical and meaningful ways.

    .section-2
      .message-quote
        :markdown
          # *Laborer:*   
          
          
          "A laborer is a disciple in action. Laborers live lives of difference-making love. They are ordinary people who express their love for God through practical, hands-and-feet service."
        .signature
          :markdown
            – *Dr. Dwight Robertson*, President and Founder of Kingdom Building Ministries
      :markdown
        *Every* Christian is uniquely designed by God to have an impact on the lives of others in ways that are meaningful and important. *Every Christian is a minister*. Every Christian is called to be a laborer.   
        
        *Our purpose is to fan the flame of a worldwide laborership movement that will bring God’s heart, His Kingdom and His will to the earth.*
