---
layout: default
title: Speaker Events
category: [speakers,events]
---
 
{% for post in site.posts %}
  {% if post.categories contains 'speaker-events' %}
        <div class="post">
                <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
                <p class="meta">Date: {{ post.date }}</p>
                <div class="entry">
                        {{ post.content | truncatewords: 10 | capitalize }}
                </div>
        </div>
  {% endif %}
{% endfor %}