.blog-sidebar {
  background: #d8d8d8;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0;
}

.blog-header {
  background:#7e7e7e;
  padding-top: 30px;
  padding-bottom: 30px; 
}

.blog-container {
  min-height: 400px;
  .columns {
    padding-top: 20px;
  }
}

.blog-post-container > .row > .columns {
  padding-top: 60px;
}

.blog-thumbnail {
  width: 200px;
  float: left;
  margin-right: 10px;
	border: 5px solid white;
	box-shadow: 1px 3px 4px #232320;
}