---

---
$pad-top-to-separator:12px;
$menu-border-height:4px;
body {
    padding-top: 31px;
    @include linear-gradient($kbm-background-main-color, #fff 700px);
}

.menubar {
    border-style:solid none;
    border-width: $menu-border-height;
    border-color: $kbm-accent-a-color;
    background:$kbm-background-menu-color;
    nav {
        position: relative;
        .logo {
            position: absolute;
            z-index:999;
            top: -44px;
            left: 25px;
        }
        @include grid-row();
    }
    .nav-buttons {
        @include grid-column(12);
        & > ul {
            @include button-group-container;
            float:right;
        }
        & > ul > li {
            position:relative;
            @include button-group-style();
            margin: $pad-top-to-separator 0;
            padding: 7px 0;
            &:before { /*menu divider*/
                position:absolute;
                left:-1px;
                top:0px;
                bottom:0px;
                content:"";
                width:3px;
                background: #cacaca;
                display:block;
                border-style: solid;
                border-width: 1px;
                border-color: #fff;
            }
            &:first-child:before {
                display: none;
            }
        }
        .nav-main-button {
            position:relative;
            z-index:5;
            color:#000;
            text-transform: uppercase;
            font-size:emCalc(13);
            padding: 20px;
            &:after {
                position: absolute;
                content:"";
                z-index:-1;
                left: 0px;
                top: -$pad-top-to-separator + 7px;
                bottom: -$pad-top-to-separator + 10px;
                right: 0px;
            }
            &:hover:after {
                border-style: none solid;
                border-width: 1px;
                border-color: $kbm-menu-button-depression-color;
                left: -2px;
                right: -2px;
                @include linear-gradient($kbm-menu-button-depression-color, #fff);
            }
        }
    }
}

.featured {
    padding-top: 50px;
    @include grid-row();
    #slider {
        @include grid-column(12);
        .orbit-container {
            background-color: transparent;
        }
    }
}