@font-face {
  font-family: NovecentowideDemiBold;
  src: url(/fonts/novecento/novecentowide-demibold-webfont.woff) format("woff"),
       url(/fonts/novecento/novecentowide-demibold-webfont.ttf) format("opentype");
  font-family: NovecentowideMedium;
  src: url(/fonts/novecento/novecentowide-medium-webfont.woff) format("woff"),
       url(/fonts/novecento/novecentowide-medium-webfont.ttf) format("opentype");
  font-family: NovecentowideNormal;
  src: url(/fonts/novecento/novecentowide-normal-webfont.woff) format("woff"),
       url(/fonts/novecento/novecentowide-normal-webfont.ttf) format("opentype");
}
@import url(http://fonts.googleapis.com/css?family=Tinos:400,700,400italic,700italic);


$pad-top-to-separator:12px;
$menu-border-height:4px;
a {
    color: $kbm-accent-b-color;
    &:hover {
        color: $kbm-accent-a-color;
    }
}

.kbm-drop {
    font-size: 65px;
    display: inline;
    float: left;
    line-height: 54px;
    margin: 1px 2px -3px 1px;
}

a {
      color: #cd1f29;
    }

h1 {
    text-align: left;
    text-transform: uppercase;
    font-family: NovecentowideDemiBold, Helvetica, sans-serif;
    margin-bottom: 8px;
    font-size: 2.4em;
    line-height: 0.9em;
    letter-spacing: inherit;
    margin: 0px 0px 10px 0px;
    color: #000;
    .light & {
      color: black;
    }
    .dark & {
      color: white; 
    }
    em {
      color: #cb222f;
      text-transform: uppercase;
      font-style: normal;
      font-family: NovecentowideNormal, Helvetica, sans-serif;
    }
    
}

h2 {
    text-align: left;
    text-transform: uppercase;
    font-family: NovecentowideMedium, Helvetica, sans-serif;
    margin-bottom: 8px;
    color: #cb222f;
    font-size: 1.9em;
}

h3 {
    text-align: left;
    text-transform: uppercase;
    font-family: NovecentowideMedium, Helvetica, sans-serif;
    margin-bottom: 8px;
    color: #000;
    font-size: 1.4em;
    .light & {
      color: black;
    }
    .dark & {
      color: white; 
    }
    em {
      color: #cb222f;
      text-transform: uppercase;
      font-style: normal;
      font-family: NovecentowideNormal, Helvetica, sans-serif;
    }
}

em {
  font-style: italic;
}

body {
    @include linear-gradient($kbm-background-main-color, #fff 700px);
    font-family: 'Ovo', serif;
    line-height: 1.3em;
}

.scroller-inner {
    padding-top:31px;
}

.menubar {
    border-style:solid none;
    border-width: $menu-border-height;
    border-color: $kbm-accent-a-color;
    background:$kbm-background-menu-color;
    nav {
        position: relative;
        .logo {
            position: absolute;
            z-index:999;
            top: -44px;
            right: 20px;
            @media #{$not-mobile} {
                left: 25px;
                right: auto;
            }
        }
        @include grid-row();
    }
    .mobile-nav {
        @include grid-column(12);
        .nav-main-button {
            padding-left:70px;
        }
        .nav-main-button:before { /* hamburger */
            position:absolute;
            left: 20px;
            top: 15px;
	    width: 40px;
	    height: 6px;
	    background: #000;
	    box-shadow: 0 6px transparent, 0 12px #000, 0 18px transparent, 0 24px #000;
	    content: '';
        }
        @media #{$not-mobile} {
            display: none;
        }
    }
    .main-nav {
        @include grid-column(12);
        display: none;
        @media #{$not-mobile} {
            display: block;
            & .nav-buttons > ul {
                float:right;
            }
        }
    }
    .top-bar-section {
        text-transform: uppercase;
        font-family: NovecentowideDemiBold, Helvetica, sans-serif;
        & > ul > .divider {
            width:3px;
            background: #cacaca;
            display:block;
            border-style: solid;
            border-width: 1px;
            border-color: #fff;
            height: 30px;
            margin-top: 12px;
        }
        & > ul > .has-dropdown > a {
            padding-right: $topbar-height / 3 !important;
            &:after {
                display:none;
            }
        }
        & > ul > .has-dropdown > ul li.has-dropdown > a:after {
            margin-top: -20px;
        }
        .dropdown {
            background: #fff;
            border-color: #5e5c5c;
            border-width: 4px; 
        }
        & > ul > .has-dropdown > .dropdown {
            border-style:solid none none none;
            border-width: $menu-border-height;
            border-color: $kbm-accent-a-color;
        }
        #get-involved-menu .dropdown {
            left: auto;
            right: 100%;
        }
    }
    .nav-buttons {
        /*     &.active { */
        /*         color:#fff; */
        /*         background-color:$kbm-accent-a-color; */
        /*         margin-right:-1px; */
        /*         z-index:6; */
        /*     } */
    }
}

.featured {
    padding-top: 50px;
    @include grid-row();
    #slider {
        @include grid-column(12);
        .orbit-container {
            background-color: transparent;
        }
    }
}

.footer-section {
    background-color:#9b191b /* $kbm-accent-b-color */;
    border-style: dotted none none none;
    border-width: medium;
    border-color: #fff;
}

footer {
    @include grid-row();
    @media #{$not-mobile} {
        width:$small-screen;
    }
    color: #fff;
    padding-top:20px;
    padding-bottom:20px;
    font-family: NovecentowideNormal, Helvetica, sans-serif;
    font-size: 0.8em;
    h1 {
        font-size: emCalc(24);
    }

    section {
        @media #{$not-mobile} {
            @include grid-column(4, $center:false);
        }
        @media #{$mobile} {
            @include grid-column(6, $center:true);
        }

        a {
            font-size: emCalc(20);
            position: relative;
            color:#fff;
            @include single-transition();
        }
        margin-top: 30px;
    }

    section:hover a {
        color:$kbm-inactive-link-color;
        &:hover {
            color:#fff;
        }
    }

    ul {
        @include button-group-container;
        & > li {
            position:relative;
            padding:10px 0;
            &:first-child:before {
                display:none;
            }
            &:before {
                content:"";
                background: $kbm-inactive-link-color;
                position: absolute;
                top: 0;
                left: 0;
                right: 25%;
                height: 1px;
            }
        }
    }
}

iframe.audio-player {
    width: 200px;
    height:200px;
    border: none;
    margin: auto;
    box-shadow: none;
    float:none;
    overflow: hidden;
}

table {
  width: 100%;
}

th {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 10px;
}

thead {
  padding-bottom: 10px;
}

tbody tr:nth-child(odd)	{ 
background-color:#c6c6c6; 
}

.menu-padding {
  padding-top: 60px;
}