@media only screen and (min-width: 768px) {
  .fuel-sections > section {
    padding-left: 200px !important;
  }
  .fuel-sections p.title {
    width: 200px !important;
  }
}

.kbm-large-icon {
  width: 40px !important;
  height: auto !important;
  float: left;
  margin:-10px 7px 0px 0px !important;
  border:none;
  box-shadow: none !important;
  clear:both;
}
