---
layout: default
alias:
  - /calebbislow
  - /speakers/calebbislow
title: Caleb Bislow
---
<div id="kbm-basic-layout2">
    <div id="kbm-header" class="light">
        <div class="kbm-header-content">
            <div class="kbm-half-col">
                <div class="kbm-bubble-box-right">
                    <h1><em>Caleb</em> Bislow</h1><span style="color:#cb222f;"><strong>Caleb</strong></span> began following Christ at an early age in the sticks of Nebraska. While others were partying on the weekends he spent most of his time at church or on his dirt bike. After fully committing his life to Christ, his love for adventure and risk on the motocross track soon transferred to his faith. Since then, he has been humbled to advance the Kingdom of Christ on every inhabited continent in the world.
                </div>
            </div>

            <div class="kbm-half-col"><img src="/img/kbmspeakers/Caleb-Bislow.jpg"></div>

            <div class="kbm-clearfix"></div>
        </div>
    </div>

    <div id="kbm-body">
        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box">
                    <span style="color:#cb222f;"><strong>Caleb</strong></span> is passionate about empowering an army of Unusual Soldiers to take the love of Christ into dark, dangerous, and despised places. He strives to practice what he has the opportunity to preach at a wide variety of venues. Through creativity, humor, and adventurous stories Caleb connects with audiences of various ages challenging them to live out a life of total surrender to Christ.<br>
                    <br>
                    <span style="color:#cb222f;"><strong>Caleb</strong></span> is an ordained minister and a graduate of Bethel College in Mishawaka, Indiana. He served as a Youth Pastor for eight years prior to joining Kingdom Building Ministries as a full-time missionary and itinerant speaker. He lives in Franklin, Nebraska with his wife, Jessica, sons Trace and Asher, and daughter Kaiya. To learn more about Caleb visit <a href="http://www.unusualsoldiers.com">www.unusualsoldiers.com</a>.<br>
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box light">
                    <a href="/speakers/book">
                    <h1>Schedule Caleb Now!</h1></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-third-col">
                <br>
                <br>
                <br>

                <h2 style="text-align:center;">See Caleb in action</h2><iframe width="420" height="315" src="http://www.youtube.com/embed/wuHj6TBh1Yk" frameborder="0" allowfullscreen="" style="width:100%;height:200px;"></iframe>
            </div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2>Audience Captivity & Event Availability</h2>Caleb's ministry generally focuses on Senior High, College, and Adult age groups where he can evangelize, encourage, equip, and empower them to live all out for Christ. He is available for the following types of events.

                    <div class="kbm-half-col">
                        <ul>
                            <li>Camps</li>

                            <li>Retreats</li>

                            <li>Missions Conferences</li>

                            <li>Youth Conferences</li>

                            <li>Crusades</li>

                            <li>Training Conferences</li>

                            <li>Adventure & Wilderness Ministries</li>
                        </ul>
                    </div>

                    <div class="kbm-half-col">
                        <ul>
                            <li>Church Services</li>

                            <li>Jail & Prison Ministries</li>

                            <li>Music Festivals</li>

                            <li>Mission Trips</li>

                            <li>Men’s Groups</li>

                            <li>High School & College Spiritual Emphasis Weeks</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box">
                    <h2>Ministry Passions</h2>

                    <ul>
                        <li>To equip an army of Christ followers to serve God wholeheartedly and courageously</li>

                        <li>To globally reach for the unreached and the “unreachables” in the hidden parts of the world</li>

                        <li>To hold speaking engagements that commission movements</li>

                        <li>To empower people to live a lifestyle that listens to God’s voice and follows Him no matter what the cost</li>

                        <li>To arm believers with love and take them to places that are feared, neglected, or avoided by Christians</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2>Top Messages</h2>

                    <ul>
                        <li><strong>AWAKE</strong>: Stepping out of a dry existence; stepping into being alive</li>

                        <li><strong>TRUE IDENTITY</strong>: Unleashing the warrior spirit that lies inside of us</li>

                        <li><strong>PASSION</strong>: Loving Christ more than the air we breathe</li>

                        <li><strong>VISION</strong>: Joining God in the pursuit of His world-wide dream</li>

                        <li><strong>COURAGE</strong>: Risking it all for the sake of God’s call on your life</li>

                        <li><strong>THE VOICE</strong>: How to Listen to God’s Voice</li>

                        <li><strong>THE FAITH VENTURE</strong>: Following God’s voice no matter what the cost</li>

                        <li><strong>EMPOWERED</strong>: Living in the Fullness of the Holy Spirit</li>

                        <li><strong>THE 13th FLOOR</strong>: Taking the love of Christ to feared places</li>

                        <li><strong>THE POINT OF NO RETURN</strong>: Totally surrendering all that you are to God</li>
                    </ul>
                </div>
            </div>

            <div class="kbm-third-col" style="padding: 10px 12px 10px 10px;">
                <h2 style="text-align:center;">Listen to Caleb</h2>
                {% include audio-player.html mp3="https://www.dropbox.com/s/fa1y19026dijnb3/kbm-caleb-bislow-dare-to-follow.mp3" %}
            </div>
        </div>

        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box light">
                    <a href="/speakers/book">
                    <h1>Schedule Caleb Now!</h1></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box light">
                    <h1>Just booked this speaker?</h1><br>

                    <p style="text-align:center;font-size:20px;"><a href="{% include img-url.html url="https://www.dropbox.com/s/diieyzx5pmulske/Caleb-Bislow-Promo.zip" download="y" %}">Here is an archive of promotional materials for Caleb. Click here to save to your computer.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
