---
layout: default
alias:
  - /efremsmith
  - /speakers/efremsmith
title: Efrem Smith
---

<div id="kbm-basic-layout2">
    <div id="kbm-header" class="light">
        <div class="kbm-header-content">
            <div class="kbm-half-col">
                <div class="kbm-bubble-box-right">
                    <h1><em>Efrem</em> Smith</h1><span style="color:#cb222f;"><strong>Efrem</strong></span> Smith is an internationally recognized leader and speaker who uses motivational speaking and preaching to equip people for a life of transformation. He also consults on issues of multi-ethnicity, leadership, and community development for churches, educational institutions, and other organizations.
                </div>
            </div>

            <div class="kbm-half-col"><img src="/img/kbmspeakers/Efrem-Smith.jpg"></div>

            <div class="kbm-clearfix"></div>
        </div>
    </div>

    <div id="kbm-body">
        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box">
                    <p>He has held positions with church and Para church organizations as well as community foundations. He also served as Founding Pastor of The Sanctuary Covenant Church and President of The Sanctuary Community Development Corporation in Minneapolis, Minnesota. Currently, Efrem is the Superintendent of the Pacific Southwest Conference of the Evangelical Covenant Church. In this role he provides leadership to 157 churches and other ministry initiatives in California, Arizona, Hawaii, Nevada, and Utah. He is the author of the books, "Raising Up Young Heroes", "The Hip Hop Church", and "Jump."</p>

                    <p>Efrem is a graduate of Saint John’s University and Luther Theological Seminary. Efrem has been a keynote speaker at many conferences and events for organizations such as Athletes In Action, the Alive Music Festival, the Hip Hop Summit at Oak Cliff Bible Fellowship, Campus Crusade For Christ, Youth Specialties, YWCA, Compassion International, and several conferences with the Willow Creek Association.</p>

                    <p>Efrem lives in the Bay Area of Northern California with his wife Donecia and two daughters, Jaeda and Mireya. He has received many awards such as the Role Model Award from the Hennepin County Community Coalition and the Community Service Award from Saint John’s University.</p>

                    <p>To learn more about Efrem visit <a href="http://www.efremsmith.com">www.EfremSmith.com</a>.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box light">
                    <a href="/speakers/book">
                    <h1>Schedule Efrem Now!</h1></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-third-col">
                <h2 style="text-align:center;">See Efrem in action</h2><iframe width="420" height="315" src="http://www.youtube.com/embed/uSbtSmjjA6o" frameborder="0" allowfullscreen="" style="width:100%;height:200px;"></iframe>
            </div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2>Event Availability</h2>Efrem is available for the following types of events.

                    <div class="kbm-half-col">
                        <ul>
                            <li>Youth Conferences</li>

                            <li>College Spiritual Emphasis Weeks</li>

                            <li>Church Services</li>

                            <li>Music Festivals</li>
                        </ul>
                    </div>

                    <div class="kbm-half-col">
                        <ul>
                            <li>Multi-Church Events / Rallies</li>

                            <li>High School Camps & Assemblies</li>

                            <li>Missions Conferences</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2>Ministry Passions</h2>

                    <ul>
                        <li>Racial Reconciliation</li>

                        <li>Compassion, Justice, and Mercy</li>

                        <li>The Exchanged Life (Intimacy w/God)</li>

                        <li>The Transformed Life (A Life of Purpose)</li>

                        <li>Urban Ministry</li>

                        <li>Engaging Culture for Kingdom Purposes</li>

                        <li>A Holistic Approach to Youth Ministry</li>
                    </ul>
                </div>
            </div>

            <div class="kbm-third-col" style="padding: 10px 12px 10px 10px;">
                <h2 style="text-align:center;">Listen to Efrem</h2>
                {% include audio-player.html mp3="https://www.dropbox.com/s/godh2zeme9ueane/kbm-efrem-smith-seize-the-moment-nehemiah.mp3" %}
            </div>
        </div>

        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box">
                    <h2>Top Messages</h2>

                    <ul>
                        <li>"Transformers"</li>

                        <li>"Raising Up Young Heroes"</li>

                        <li>"The Reconciled Life"</li>

                        <li>"The Beloved Church"</li>

                        <li>"Seize the Moment"</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box light">
                    <a href="/speakers/book">
                    <h1>Schedule Efrem Now!</h1></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box light">
                    <h1>Just booked this speaker?</h1><br>
                    <p style="text-align:center;font-size:20px;"><a href="{% include url.html url="https://www.dropbox.com/s/0awkq7fd1u2olat/Efrem-Smith-Promo.zip" download="y" %}">Here is an archive of promotional materials for Efrem. Click here to save to your computer.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
