<script type="text/javascript" src="/js/vendor/circle-player/jquery.transform2d.js"></script>
<script type="text/javascript" src="/js/vendor/circle-player/jquery.grab.js"></script>
<script type="text/javascript" src="/js/vendor/circle-player/jquery.jplayer.js"></script>
<script type="text/javascript" src="/js/vendor/circle-player/mod.csstransforms.min.js"></script>
<script type="text/javascript"
        src="/js/vendor/circle-player/circle.player.js"></script>
{% if include.players %}
<script>$(document).ready(function(){
  {% for player in include.players %}
  new CirclePlayer('#jquery_jplayer_{{ forloop.index }}',
  { mp3: '{{player.mp3 | replace:'www.dropbox.com','dl.dropboxusercontent.com' }}'}, { cssSelectorAncestor:'#cp_container_{{ forloop.index }}', preload:"none" });
  {% endfor %}
  });
</script>
{% endif %}
