<h2>Follow Us</h2>

<div class="large-10 large-centered columns">

  <a href='http://cloud.feedly.com/#subscription%2Ffeed%2Fhttp%3A%2F%2Fwww.kbm.org%2Ffeed.xml'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-circle-flat-black_2x.png' alt='follow us in feedly' width='28' height='28'></a> |

  <a href="http://www.kbm.org/feed.xml" target="_blank"><img src="/img/rss.png" style="height:28px;width:28px;"/></a> |
  
  <a href="http://www.facebook.com/kingdombuildingministries" target="_blank"><img src="/img/facebook.png" style="height:28px;width:28px;"/></a> |
  
  <a href="http://www.twitter.com/kingdomlaborers" target="_blank"><img src="/img/twitter.png" style="height:28px;width:28px;"/></a> |
  
  <a href="http://www.instagram.com/kingdomlaborers" target="_blank"><img src="/img/instagram.png" style="height:28px;width:28px;"/></a>
  <br>
</div>

<h2> Recent Articles </h2>

<ul>
  {% for post in site.categories.blog limit: 5 %}
    <li><a href="{{ post.url }}"><strong>{{ post.title }} - {{ post.date | date_to_long_string }}</strong></a></li>
  {% endfor %}
</ul>
<!--

<h2> Categories </h2>
<ul>
  {% for tag in site.tags limit: 5 %}
    <li>{{ tag | first }}</li>
  {% endfor %}
</ul>
-->
