{% if include.offset %}
  {% assign offset = include.offset %}
{% else %}
  {% assign offset = 0 %}
{% endif %}
<ul class="postlist">
  {% for post in include.posts offset:offset %}
  <li>
    <div class="row">
      <div class="large-4 columns">
        <a href="{{post.url}}"><div class="blog-thumbnail" style="background-image:url('{{ post.poster-image | replace:'www.dropbox.com','dl.dropboxusercontent.com' }}');"></div></a>
      </div>
      <div class="large-8 columns">
        <h3><a href="{{post.url}}">{{post.title}}</a></h3>
        <p class="author">
          {% if post.author and post.author != "no-author" %}by
            {% include author.html id=post.author get='name' %}
          {% endif %}
        </p>
        {{ post.excerpt | strip_html | truncatewords: 30}} <br><br>
        <a href="{{post.url}}">Continue Reading</a>
        </div>
    </div>
  </li>
  {% endfor %}
</ul>
