<div class="footer-section">
  <footer>
    <section>
      <img src="/img/layouts/default/kbm-footer-heading.png">
      14485 E. Evans Ave<br>
      Aurora, CO 80014<br>
      laborers@kbm.org<br>
      800-873-8957<br>
      303-745-8191<br>
    </section>
    <section>
      <ul>
        <li><a href="/connect">Ways to Connect</a></li>
        <li><a href="/connect">Training</a></li>
        <li><a href="/connect">Initiatives</a></li>
        <li><a href="/connect">Browse Speakers</a></li>
        <li><a href="/connect">Book a Speaker</a></li>
      </ul>
    </section>
    <section>
      <h1>Get Involved</h1>
      <h2>Become a Prayer Partner</h2>
      <h2>Donate to KBM</h2>
      <h3>ECFA Certified</h3>
      <img src="/img/layouts/default/ecfa-seal-small.png">
    </section>
  </footer>
</div>
{% include mobile-menu-footer.html %}
  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/foundation.min.js"></script>
  <script src="/js/foundation/foundation.clearing.js"></script>
  <script src="/js/push-menu/classie.js"></script>
  <script src="/js/push-menu/mlpushmenu.js"></script>
  
  {% if page.circle-player %}
  <script type="text/javascript" src="/js/vendor/circle-player/jquery.transform2d.js"></script>
	<script type="text/javascript" src="/js/vendor/circle-player/jquery.grab.js"></script>
	<script type="text/javascript" src="/js/vendor/circle-player/jquery.jplayer.js"></script>
	<script type="text/javascript" src="/js/vendor/circle-player/mod.csstransforms.min.js"></script>
	<script type="text/javascript" src="/js/vendor/circle-player/circle.player.js"></script>
	<script>$(document).ready(function(){
	{% for player in page.circle-player &}
    new CirclePlayer('{{player.selector}}',
		{
			mp3: '{{player.mp3}}'
		}, {
			cssSelectorAncestor: '{{player.ancestor}}'
		}); 
  {% endfor %}
	
	});
  </script>
	{% endif %}
	
  <script>
  new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'mp-menu-trigger' ), {
    type : 'cover'
  } );
  </script>
  <script>
  $(document).foundation();
  </script>
  
</body>
</html>  