<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/app.css">
  <script src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>
  {% include mobile-menu-header.html %}
  <div class="menubar">
    <nav>
      <div class="logo">
        <h1><a id="mp-menu-trigger" href="#"><img src="/img/layouts/default/kbm-logo-banner.png" /></a></h1>
      </div>
      <div class="nav-buttons">
        <ul>
          {% for link in site.navigation %}
          <li>
            <a href="{{link.url}}" data-dropdown="{{link.id}}"
               data-options="is_hover:true" class="nav-main-button{% if page.url == link.url %} active{% endif %}">
              {{link.text}}</a></li>
            {% if link.items %}
            <ul id="{{link.id}}" class="f-dropdown" data-dropdown-content>
              {% for sublink in link.items %}
              <li><a href="{{sublink.url}}">{{sublink.text}}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
  
