<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/css/app.css">
  <script src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>
  <div class="menubar">
    <nav>
      <div class="logo">
        <h1><a href="/"><img src="/img/kbm-logo-header.png" /></a></h1>
      </div>
      <div class="nav-buttons">
      <ul>
      	<li><a href="#" data-dropdown="drop1"
      	data-options="is_hover:true" class="nav-main-button">About Us</a></li>
      	<ul id="drop1" class="f-dropdown" data-dropdown-content>
          <li><a href="/about">About Us</a></li>
          <li><a href="#">KBM Board</a></li>
          <li><a href="#">KBM Staff</a></li>
          <li><a href="#">Financial Summary</a></li>
          <li><a href="#">Statement of Faith</a></li>
        </ul>
        <li><a href="#" data-dropdown="drop2" data-options="is_hover:true" class="nav-main-button">Speakers</a></li>
      	<ul id="drop2" class="f-dropdown" data-dropdown-content>
          <li><a href="/about">About Us</a></li>
          <li><a href="#">KBM Board</a></li>
          <li><a href="#">KBM Staff</a></li>
        </ul>
        <li><a href="#" data-dropdown="drop3" data-options="is_hover:true" class="nav-main-button">Training</a></li>
      	<ul id="drop3" class="f-dropdown" data-dropdown-content>
          <li><a href="/about">About Us</a></li>
          <li><a href="#">KBM Board</a></li>
          <li><a href="#">KBM Staff</a></li>
        </ul>
        <li><a href="#" data-dropdown="drop4" data-options="is_hover:true" class="nav-main-button">Fuel</a></li>
      	<ul id="drop4" class="f-dropdown" data-dropdown-content>
          <li><a href="/about">About Us</a></li>
          <li><a href="#">KBM Board</a></li>
          <li><a href="#">KBM Staff</a></li>
        </ul>
        <li><a href="#" data-dropdown="drop5" data-options="is_hover:true" class="nav-main-button">Get Involved</a></li>
      	<ul id="drop5" class="f-dropdown" data-dropdown-content>
          <li><a href="/about">About Us</a></li>
          <li><a href="#">KBM Board</a></li>
          <li><a href="#">KBM Staff</a></li>
        </ul>
        <li><a href="#" data-dropdown="drop6" data-options="is_hover:true" class="nav-main-button">Store</a></li>
      	<ul id="drop6" class="f-dropdown" data-dropdown-content>
          <li><a href="/about">About Us</a></li>
          <li><a href="#">KBM Board</a></li>
          <li><a href="#">KBM Staff</a></li>
        </ul>
      </ul>
      </div>
     </nav>
   </div>
  
