<!-- From http://tympanus.net/codrops/2013/08/13/multi-level-push-menu/ -->
<div class="container">
    <div class="mp-pusher" id="mp-pusher">
        <div id="mp-menu" class="mp-menu">
          <h2 class="icon icon-world">All Categories</h2>
          <ul>
            <li class="icon icon-arrow-left">
              <a class="icon icon-display" href="#">Devices</a>
                <div class="mp-level">
                  <h2 class="icon icon-display">Devices</h2>
                  <ul>
                    <li class="icon icon-arrow-left">
                      <a class="icon icon-phone" href="#">Mobile Phones</a>
                      <div class="mp-level">
                        <h2>Mobile Phones</h2>
                        <ul>
                          <li><a href="#">Super Smart Phone</a></li>
                          <li><a href="#">Thin Magic Mobile</a></li>
                          <li><a href="#">Performance Crusher</a></li>
                          <li><a href="#">Futuristic Experience</a></li>
                        </ul>
                      </div>
                    </li>
                    <li class="icon icon-arrow-left">
                      <!-- ... -->
                    </li>
                    <li class="icon icon-arrow-left">
                      <!-- ... -->
                    </li>
                  </ul>
                </div>
            </li>
          </ul>
        </div>
        <div class="scroller">
            <div class="scroller-inner">
