<div class="row social-row">
  <div class="large-6 left columns">
    <strong>Share this article on</strong>
    <!--
<a href="#openModal"><img style="height:28px;width:28px;" src="/img/facebook.png"/></a>
      <div id="openModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">x</a>
            <iframe src="http://twitter.com/intent/tweet?url=http://www.kbm.org{{ page.url }}&text={{ page.title | cgi_escape }}&via=kingdomlaborers"></iframe>
        </div> 
      </div>
-->
    
    <a href="http://facebook.com/sharer.php?u=http://www.kbm.org{{ page.url }}" target="_blank"><img data-collapse-class="facebook-share" style="height:28px;width:28px;" src="/img/facebook.png"/></a> |
    <a href="http://twitter.com/intent/tweet?url=http://www.kbm.org{{ page.url }}&text={{ page.title | cgi_escape }}&via=kingdomlaborers" target="_blank"><img style="height:28px;width:28px;" src="/img/twitter.png"/></a> |
    <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.kbm.org{{ page.url }}" target="_blank"><img style="height:28px;width:28px;" src="/img/google-plus.png"/></a> 
  </div>
</div>

<!--
<div class="newsletter-signup">
  <div class="row">
    <div class="large-12 columns">
      <h3><a href="#openModal">Become A Prayer Partner</a></h3>
      <div id="openModal" class="modalDialog">
        <div>
          <a href="#close" title="Close" class="close">X</a>
          <h2>BECOME A PRAYER PARTNER</h2>
        		<iframe style="width:100%; height:600px;" src="http://facebook.com/sharer.php?u=http://www.kbm.org{{ page.url }}"></iframe>
            <h3><a href="/newsletter-signup">Want to stay connected with Adrian? Sign up to be prayer partner!</a></h3>
        </div>
      </div>
  </div>
  </div>
</div>
-->