<div class="row social-row">
  <div class="large-6 right columns">
    <strong>Share this article on</strong>
    <a href="http://facebook.com/sharer.php?u=http://www.kbm.org{{ page.url }}" target="_blank"><img data-collapse-class="facebook-share" style="height:28px;widthc:28px;" src="/img/facebook.png"/></a> |
    <a href="http://twitter.com/intent/tweet?url=http://www.kbm.org{{ page.url }}&text={{ page.title | cgi_escape }}&via=kingdomlaborers" target="_blank"><img style="height:28px;widthc:28px;" src="/img/twitter.png"/></a> |
    <a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.kbm.org{{ page.url }}" target="_blank"><img style="height:28px;widthc:28px;" src="/img/google-plus.png"/></a> 
  </div>
</div>