<ul class="speaker-schedule small-block-grid-1 large-block-grid-3">
  {% for post in site.categories.schedule reversed %}
  {% if include.speaker == null or post.speaker == include.speaker %}
  {% assign events_found = true %}
  <li>
    <div>
      {{ post.date | date: "%B %-d, %Y" }} 
      {% if post.end_date %} - <br> {{ post.end_date | date: "%B %-d, %Y" }}
      {% endif %}
      <br>
      <strong>{{ post.title }}</strong><br><br>
      {% include speaker.html id=post.speaker get='name' %}
      <br>
      <a href="{{ post.url }}" class="fill-div"></a>
    </div>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% if events_found == null %}
<h2>Currently no scheduled events</h2>
{% if include.speaker %}
<h2><a href="/speakers/{{ include.speaker }}">Find out more about this speaker here.</a></h2>
{% endif %}
{% endif %}
