--- 
layout: default 
alias: /prayer
---

<div id="kbm-basic-layout2">
    <div id="kbm-header" class="light">
        <div class="kbm-header-content">
            <div class="row">
                <div class="kbm-twothird-col">
                    <div class="kbm-bubble-box-right">
                        <img src="/img/initiatives/prayer/kbm-prayer-logo.png" style="width:200px;margin:0px;padding-bottom:0;padding-left:0;padding-right:20px;">

                        <p>Our Heavenly Father, the One who sees from heaven, commanded through His Son Jesus that our first step in approaching the harvest field around us is to get on our knees and PRAY.</p>

                        <p>Then Jesus made a circuit of all the towns and villages. He taught in their meeting places, reported kingdom news, and healed their diseased bodies, healed their bruised and hurt lives. When he looked out over the crowds, his heart broke. So confused and aimless they were, like sheep with no shepherd. “What a huge harvest!” he said to his disciples. “How few workers! On your knees and pray for harvest hands!” (Matthew 9:37-38 message).</p>
                    </div>
                </div>

                <div class="kbm-third-col"><img src="/img/initiatives/prayer/girls-praying-1.jpg"></div>
            </div>

            <div class="row">
                <div class="kbm-third-col"><img src="/img/initiatives/prayer/group-praying-1.jpg"></div>

                <div class="kbm-twothird-col">
                    <div class="kbm-bubble-box-left">
                        <p>What would happen if God's people prayed for more hearts to be awakened to live a life of laboring for the Kingdom; for more lives to give their efforts to glorifying the King of Kings; for more communities to evidence the touch that the Kingdom of God has come near? Let's depend on our Heavenly Father and co-labor together, opening our hearts to the call to pray and intercede daily that more everyday, ordinary laborers will allow God to touch others through them!</p>

                        <p>We also ask for your prayers of support. Prayer is the fuel here at Kingdom Building Ministries. We don't pray for the work. Prayer is the work as we trust God to lead our efforts. We believe that multiplied prayers equal multiplied results in helping get the work of the Kingdom done! <a href="http://weblink.donorperfect.com/prayerpartner">Would you consider joining our Prayer Team?</a> As a member of KBM's Prayer Team, you will receive a weekly e-mail including prayer requests and updates on how God's hand is moving. Also, it is our privilege to intercede with you in your kingdom-laboring efforts. Send us your requests!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="kbm-body">
        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box light">
                      {% for post in site.categories.prayer-updates limit: 1 %}
                        {{ post.content }}
                      {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box light">
                    <h1>Pray with us</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-half-col">
                <div class="kbm-program-content-box light kbm-speaker-prayer-list">
                    <h1 style="text-align:center;"><span>Upcoming</span> speaker events</h1>
<ul>
  {% for post in site.categories.speakerschedule limit: 5 %}
  <li>
    <div>
    <h3 class="meta">{{ post.start_date | date: "%B %-d %Y" }}</h3>
    <h3 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
    </div>
  </li>
  {% endfor %}
</ul>

                </div>
            </div>

            <div class="kbm-half-col">
                <div class="kbm-program-content-box light">
                    {% for post in site.categories.prayer-requests limit: 1 %}
                        {{ post.content }}
                      {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box light">
                    <h1><a href="http://weblink.donorperfect.com/prayerpartner">Sign up for our prayer team!</a></h1><!--                                <iframe src="https://interland3.donorperfect.net/weblink/weblink.aspx?name=kbm&id=8" style="width: 875px;height: 600px;"></iframe> -->
                </div>
            </div>
        </div>
    </div>
</div>
