.pad-top {
  padding-top: 60px !important;
}

.section {
  padding-top: 20px;
  &.dark {
    background: #acacac;
    color: white;
  }
  &.light {
    background: white;
  }
}

blockquote {
  background: rgba(255,255,255,0.86);
  position: relative;
  -moz-border-radius: 10px 10px 0px 10px; 
  -webkit-border-radius: 10px 10px 0px 10px; 
  border-radius: 10px 10px 0px 10px;
  padding: 11px 15px 10px 10px;
  margin-bottom: 40px;
  color: black;
  @media #{$not-mobile} {
    margin-left: 60px;
    margin-right: 60px;
  }
}
 
blockquote:before {
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 26px solid rgba(255,255,255,0.86);
  border-bottom: 35px solid transparent;
  right: 0;
  bottom: -35px;
}

.content-column {
  @extend .large-10;
  @extend .columns;
  @extend .large-centered;
}
