---
layout: default
alias: /whatisalaborer
---
.section.pad-top
  .row
    .content-column
      :markdown
        # WHAT IS A LABORER?
        
        A Kingdom Laborer is a disciple in action.
         
        >"And Jesus went about all the cities and villages, teaching in their synagogues and preaching the 
        >gospel of the kingdom, and healing every disease and every infirmity. When he saw the crowds, he 
        >had compassion for them, because they were harassed and helpless, like sheep without a shepherd. 
        >Then he said to his disciples, 'The harvest is plentiful, but the laborers are few; pray therefore the Lord 
        >of the harvest to send out laborers into his harvest'" (Matthew 9:35-38 RSV).
         
        At the center of our purpose is the distinguishing word laborer. It's a biblical word that Jesus used in Matthew 9:35-38. After traveling from town to town and seeing all the harassed and helpless people, He turned to His disciples and said, "The harvest is plentiful, but the laborers are few. Ask the Lord of the harvest, therefore, to send out laborers into his harvest field." According to Jesus, laborers are the answer to the great harvest need. Laborers are his plan for the masses of harassed and helpless people in the world. And He doesn't seem to have a "plan B."
         
        Because the word laborer is not the everyday, household word used to describe most Christians, you might be wondering what exactly it means. As we've examined the whole of Scripture, we think a clear and simple definition emerges. A laborer is a disciple in action. Whereas the word disciple implies one who accepts a teaching and learns from a master, the word laborer takes it one step further, implying that this teaching is put into action.
         
        Laborers are those who are making a difference in people's lives and in God's Kingdom by actively and lovingly serving those around them. They get into the mud puddles of life’s deepest needs. They're ordinary people who are making an extraordinary difference in the places where God has given them influence—in their families, neighborhoods, communities, schools, workplaces, churches, etc. They're taking their love for God into places all over the world by putting their Christian faith into action in practical and meaningful ways.
         
        Laborership is not confined to vocational ministry. In fact, we believe God has called every Christian to be a laborer in His Kingdom—applying his or her gifts, passions, hobbies, past experiences and season of life to ministry. It's not just for the speakers, teachers, preachers, authors, missionaries, musicians and other "spotlight" ministers. And it's not just for those who have culturally valued leadership gifts.  God's work through ordinary laborers is what the world needs most. When the work is done, it will have been accomplished by nameless, faceless people who did what they could, where they were.  Every Christian is called as a laborer and is uniquely designed by God to have an impact on the lives of others in ways that are meaningful, important and transformational.
         
        Scripture is full of examples of ordinary laborers who had an extraordinary influence on those around them. Look at the 12 ordinary men Jesus chose to be His disciples. They weren't rabbis. They weren't the most brilliant scholars or the most charismatic speakers. They were a cross-section of ordinary people - fishermen, tax collectors, businessmen, chefs, designers, construction workers, wives and moms, husbands and fathers, farmers and gardeners, writers, secretaries, seamstresses, teachers, doctors, lawyers, counselors, and the list goes on and on!  They're the kind of ordinary people Jesus still uses today.
         
.section.dark
  .row
    .content-column
      :markdown
        ## 6 Realities of a Kingdom Laborer

        Although every person is uniquely created and designed by God, we believe there are 6 common characteristics (or realities) that are shared by Kingdom Laborers:

      %ul.small-block-grid-1.large-block-grid-3
        %li
          :markdown
            ### Kingdom-Living
  
              - Kingdom Laborers seek to glorify God by doing things His Way. The most important way to live out the Kingdom of God is to Love God and Love Others. Everything else flows from these two engagements (Matthew 22:40).
  
        %li
          :markdown 
            ### Passion-Driven
            
            - Kingdom Laborers love God so much they will obey Him, sacrifice for Him, suffer because of Him all for the ultimate purpose of glorifying His Name. Someone who is passion-driven will pursue love even into and through suffering, just like Jesus did. 
        
        %li
          :markdown     
            ### Presence-Enabled
            
            - Kingdom Laborers live lives filled with His Presence. They become a house for God (Hebrews 3:6). They seek to have an intimate relationship with God. They are daily directed by the Holy Spirit and obey His direction in their lives.  
         
        %li
          :markdown   
            ### Purpose-Fulfulling
            
            - Kingdom Laborers live with the understanding that God is advancing His Kingdom throughout the world through the reproduction of disciples (Matthew 28:18-20). But they also live in the unique way he created them—in the situations, relationships, and locations He chooses to place them. Each Kingdom laborer is unique, but all of them live and minister in such a way that God’s Kingdom-advancing purposes are fulfilled.  
        
        %li
          :markdown   
            ### Process-Developed
            
            - Kingdom Laborers are NOT PERFECT. While they grapple with feelings of being UNWORTHY and too INVALUABLE to have Kingdom Impact, their lives are characterized by believing that Christ has commissioned them to be His ambassadors (Eph 5:20). In addition, as they overcome these common insecurities and allow God to use them, they resist the temptation to become proud and humbly allow God to continue shaping and molding them daily.  
        
        %li
          :markdown  
            ### Impact-Oriented
            
            - Kingdom Laborers live intentionally to impact God’s Kingdom. They know that living for Kingdom impact will reap an indestructible, eternal legacy that will bring God glory. And they don’t do it only on Sunday mornings from pulpits and stages. They are actively waiting for God to use them in everyday, along-the-way places and situations where there is the greatest need for Him.
