--- 
layout: default
alias: /deepcamp2013
---
<style>
    .listen-header {
        padding-top:15px;padding-bottom:7px;text-align:center;
        
    }
    .title-header {
        display:block;
        height:105px;
        text-align: center;
    }
    .kbm-third-col h1 {
        height:80px;
    }
    h2 {
        text-align:left;
    }

</style>

<div id="kbm-fixedbg-layout" class="kbmdeepcamp">
    <div id="kbm-header" class="light">
        <img src="/img/training/deepcamp/deepcamp-header.png" style="margin-bottom:-180px;">

        <div class="kbm-header-content">
            <div class="kbm-half-col"><img src="/img/kbm-sign.jpg"></div>

            <div class="kbm-vertical-separator"></div>

            <div class="kbm-half-col">
                <div class="kbm-bubble-box-left">
                    <h1>Deep Camp 2013 Resources</h1>Revisit your Deep Camp Experience<br>
                    Recorded Audio:

                    <ul>
                        <li>
                            <a href="#monday">Monday</a>
                        </li>

                        <li>
                            <a href="#tuesday">Tuesday</a>
                        </li>

                        <li>
                            <a href="#wednesday">Wednesday</a>
                        </li>

                        <li>
                            <a href="#thursday">Thursday</a>
                        </li>

                        <li>
                            <a href="#friday">Friday</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="kbm-clearfix"></div>
        </div>
    </div>

    <div id="kbm-body" class="light">
        <div class="row">
            <div class="kbm-full-col">
                <div class="kbm-program-content-box">
                    <h1><a href="https://www.dropbox.com/sh/v3gbkzpp7baovzm/8vZyi9GDR8" target="_blank">Click here to view pictures from Deep Camp 2013!</a></h1>
                </div>
            </div>
        </div>

        <div id="monday-sessions">
            <a id="monday"></a>

            <div class="row">
                <div class="kbm-full-col">
                    <div class="kbm-program-content-box light" style="text-align:center;">
                        <h1>Monday Sessions</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Jason-Roe.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Jason Roe</h1>

                        <h2 class="title-header">Jesus is Lord</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/333a66jm2tgyuc3/F-20130624-AM-JasonRoe.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/20130624-AM-JasonRoe.mp3">Download</a></h2>
                    </div>
                </div>

                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/tim-reilly.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Tim Reilly</h1>

                        <h2 class="title-header" style="font-size:25px;">The Resurrection & Gospel Presentation</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/n6c3kbs0lehfx92/F-20130624-AM-TimReilly.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130624-AM-TimReilly.mp3">Download</a></h2>
                    </div>
                </div>

                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Chris-Emery.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Chris Emery</h1>

                        <h2 class="title-header">Healing In Marriage</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/sfo3xro45s4siti/F-20130624-B-ChrisEmery.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130624-B-ChrisEmery.mp3">Download</a></h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/dwight-robertson.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Dwight Robertson</h1>

                        <h2 class="title-header" style="font-size:25px;">Using Your Spiritual Life Notebook</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/awhmyno1ikxr95d/F-20130624-B-DwightRobertson.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/20130624-AM-JasonRoe.mp3">Download</a></h2>
                    </div>
                </div>

                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Efrem-Smith.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Efrem Smith</h1>

                        <h2 class="title-header">The Reconciling Life</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/gtc118uzo9u7qsi/F-20130624-B-efremsmith.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130624-B-efremsmith.mp3.mp3">Download</a></h2>
                    </div>
                </div>

                <div class="kbm-third-col">
                    <img src="/img/not-pictured-small.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Phil Floyd</h1>

                        <h2 class="title-header">War Against Manhood</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/fnwa47lehupkggg/F-20130624-B-PhilFloyd-1.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130624-B-PhilFloyd-1.mp3">Download</a></h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Adrian-Despres.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Adrian Despres</h1>

                        <h2 class="title-header">Worst Verse</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/whycwmupoa3wxzk/F-20130624-PM-AdrianDespres.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/20130624-PM-AdrianDespres.mp3">Download</a></h2>
                    </div>
                </div>
            </div><a id="tuesday"></a>

            <div class="row">
                <div class="kbm-full-col">
                    <div class="kbm-program-content-box light" style="text-align:center;">
                        <h1>Tuesday Sessions</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Chris-Emery.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Chris Emery</h1>

                        <h2 class="title-header">Challenge</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/nkvmtnlywfbozwt/F-20130625-AM-ChrisEmery.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130625-AM-ChrisEmery.mp3">Download</a></h2>
                    </div>
                </div>

                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Efrem-Smith.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Efrem Smith</h1>

                        <h2 class="title-header">Jump Challenge</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/f7jgr24awlpy4pp/F-20130625-AM-EfremSmith.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130625-AM-EfremSmith.mp3">Download</a></h2>
                    </div>
                </div>

                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Caleb-Bislow.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Caleb Bislow</h1>

                        <h2 class="title-header">Hearing the Voice of God</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/7co5hzorslsmqa8/F-20130625-B-Bislow.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130625-B-Bislow.mp3">Download</a></h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/fred-lynch.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Fred Lynch</h1>

                        <h2 class="title-header">Spiritual Formation</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/s7l5ek0xi6tf1o7/F-20130625-B-FredLynch.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130625-B-FredLynch.mp3">Download</a></h2>
                    </div>
                </div>

                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Mick-Veach.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Mick Veach</h1>

                        <h2 class="title-header" style="font-size:25px;">Spiritual Multiplication</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/0kuelw5bzys0063/F-20130625-B-MickVeach.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130625-B-MickVeach.mp3">Download</a></h2>
                    </div>
                </div>

                <div class="kbm-third-col">
                    <img src="/img/not-pictured-small.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Phil Floyd</h1>

                        <h2 class="title-header" style="font-size:25px;">Deep Passionate Man-Love for God</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/3uwagnllkg0ikzb/F-20130625-B-PhilFloyd-2.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130625-B-PhilFloyd-2.mp3">Download</a></h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Ken-Johnson.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Ken Johnson</h1>

                        <h2 class="title-header">Overcoming with Hope</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/u2brxqisdy0vq5x/F-20130625-PM-KenJohnson.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130625-PM-KenJohnson.mp3">Download</a></h2>
                    </div>
                </div>
            </div><a id="wednesday"></a>

            <div class="row">
                <div class="kbm-full-col">
                    <div class="kbm-program-content-box light" style="text-align:center;">
                        <h1>Wednesday Sessions</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/fred-lynch.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Fred Lynch</h1>

                        <h2 class="title-header">Equipping</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/z9awpyc1m8mjc7v/F-20130626-AM-FredLynch.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130626-AM-FredLynch.mp3">Download</a></h2>
                    </div>
                </div>

                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Jason-Roe.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Jason Roe</h1>

                        <h2 class="title-header">Equipping (youth)</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/a1x703nvewntgz2/F-20130626-AM-JasonRoe.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130626-AM-JasonRoe.mp3">Download</a></h2>
                    </div>
                </div>

                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Adrian-Despres.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Adrian Despres</h1>

                        <h2 class="title-header">How to Study Your Bible & Bible Q&A</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/zl9jxw5cp3e2qki/F-20130626-B-AdrianDespres.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130626-B-AdrianDespres.mp3">Download</a></h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/kenanddella.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Ken & Della Johnson</h1>

                        <h2 class="title-header">Marriage</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/4whpx29t59iwj99/F-20130626-B-KenAndDella.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130626-B-KenAndDella.mp3">Download</a></h2>
                    </div>
                </div>

                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Mick-Veach.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Mick Veach</h1>

                        <h2 class="title-header">The Great Comission</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/75asvrtwlnaysu9/F-20130626-PM-MickVeach.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130626-PM-MickVeach.mp3">Download</a></h2>
                    </div>
                </div>
            </div><a id="thursday"></a>

            <div class="row">
                <div class="kbm-full-col">
                    <div class="kbm-program-content-box light" style="text-align:center;">
                        <h1>Thursday Sessions</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="kbm-third-col">
                    <img src="/img/kbmspeakers/Johnny-V.jpg">

                    <div class="kbm-program-content-box">
                        <h1>John Vermilya</h1>

                        <h2 class="title-header">Secrets of The Kingdom</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/0jp3yjcfgb3sxn1/F-20130627-AM-JohnVermilya.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130627-AM-JohnVermilya.mp3">Download</a></h2>
                    </div>
                </div>

                <div class="kbm-third-col">
                    <img src="/img/not-pictured-small.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Phil Floyd</h1>

                        <h2 class="title-header">Intimacy With God as a Lifestyle</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/aa4ni49x090eit6/F-20130627-AM-PhilFloyd.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130627-AM-PhilFloyd.mp3">Download</a></h2>
                    </div>
                </div>
            </div><a id="friday"></a>

            <div class="row">
                <div class="kbm-full-col">
                    <div class="kbm-program-content-box light" style="text-align:center;">
                        <h1>Friday Sessions</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="kbm-third-col">
                    <img src="/img/kbmstaff/kbm-staff-rcupp.jpg">

                    <div class="kbm-program-content-box">
                        <h1>Rob Cupp</h1>

                        <h2 class="title-header">Abiding & Going Home</h2>

                        <h2 class="listen-header">Listen</h2>{% include audio-player.html mp3="https://www.dropbox.com/s/m75vhxgerlrvs9r/F-20130628-AM-RobCupp.mp3" %}

                        <h2 class="listen-header"><a href="http://www.kbm.org/audio/deepcamp2013/F-20130628-AM-RobCupp.mp3.mp3">Download</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
