---
layout: default
alias: /experienceresources
---

<div id="kbm-basic-layout2">
    <div id="kbm-header">
        <div class="row">
          <div class="kbm-full-col">
            <div class="kbm-program-content-box">
                <p>As you go back into the places you are from, we want to equip you with some resources for you to be able to dig into when you need them. Below are archives some of the teachings from our speakers, as well as class notes.</p>
            </div>
          </div>
        </div>
    </div>

    <div id="kbm-body">
      <div class="row">
        <div class="kbm-full-col">
            <div class="kbm-program-content-box">
                <h1>Audio & Notes</h1>
            </div>
        </div>
      </div>

        <div class="row"><div class="kbm-full-col">
            <h2>John & Shanon Boyd</h2>

            <div class="kbm-third-col"><img src="/img/kbmstaff/kbm-staff-jboyd.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/kgcie1gi84njwu9/boyd-john--intimacy-with-god-and-dawg.pdf' download="y" %}">Intimacy With God & DAWG</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/g1bw7up6cd8ebyr/boyd-john-and-shannon-sabbath-rest.pdf' download="y" %}">Sabbath Rest</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/e9spkgrwp7qnjrs/boyd-john-baton-passing-blanks.pdf' download="y" %}">Baton Passing Blanks</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/ow9jeks6dz0kool/boyd-john-values-in-scripture-3-led-by-spirit-engaging-in-the-ordinary.pdf' download="y" %}">Values in Scripture 3 - Led By Spirit, Engaging in the Ordinary</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/7p5s3m2iu3cifaz/boyd-shannon-values-in-scripture-triumph-transformation-and-legacy.pdf' download="y" %}">Values in Scripture - Triumph, Transformation, & Legacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Todd Bright</h2>

            <div class="kbm-third-col"><img src="/img/kbmstaff/kbm-staff-tbright.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                 <a href="{% include url.html url='https://www.dropbox.com/s/1pz7ede8g3xr17w/todd-bright-ownership-and-stewardship-whats-the-difference.pdf' download="y" %}">Ownership & Stewardship, Whats the Difference?</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Laura Bulgrien</h2>

            <div class="kbm-third-col"><img src="/img/kbmstaff/kbm-staff-lbulgrien.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/8vhl25qzol30p9r/laura-bulgrien-passion-purpose-and-multiplication.pdf' download="y" %}">Passion, Purpose & Multiplication</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Foster Christy</h2>

            <div class="kbm-third-col"><img src="/img/kbmspeakers/Foster-Christy.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Audio</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/ylcxheh9qlznd2w/kbm-foster-chrsity-the-cure.mp3' download="y" %}">The Cure</a>
                            </li>
                        </ul>
                    </div>

                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/gc74u572b9a9bdm/foster-christy-identity.pdf' download="y" %}">Identity</a>
                            </li>

                            <li>
                                <<a href="{% include url.html url='https://www.dropbox.com/s/h8jhlkggezrmway/foster-christy-shattering-satanic-strongholds.pdf' download="y" %}">Shattering Satanic Strongholds</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/u5whgytxiidp2sa/foster-christy-wake-up-to-warfare.pdf' download="y" %}">Wake Up To Warfare</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/1ur278pwg9xsba6/foster-christy-walking-in-the-spirit.pdf' download="y" %}">Walking in the Spirit</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Rob Cupp</h2>

            <div class="kbm-third-col"><img src="/img/kbmstaff/kbm-staff-rcupp.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/6h1sxw58fcch79p/rob-cupp-brokenness.pdf' download="y" %}">Brokenness</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/fr0ggr98t8sf13a/rob-cupp-god-a-reintroduction.pdf' download="y" %}">God, A Reintroduction</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/kk73pjbqyiprjs9/rob-cupp-sabbath.pdf' download="y" %}">Sabbath</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/sb4ebugaolsruc6/rob-cupp-survey-of-the-bible.pdf' download="y" %}">Survey of the Bible</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/hgsalpc96f2clwo/rob-cupp-t-e-a.pdf' download="y" %}">T-E-A</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/c7zx8qjghivze3o/rob-cupp-the-exerience-overview.pdf' download="y" %}">The Experience Overview</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/m8c1f0tt0gsongj/rob-cupp-value-symbols.pdf' download="y" %}">Value Symbols</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Adrian Despres</h2>

            <div class="kbm-third-col"><img src="/img/kbmspeakers/Adrian-Despres.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Audio</a></h2><!-- The .audio-button and .collapsible must be siblings (at the same hierarchy level) The code for the buttons is at the bottom of the page -->

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='' download="y" %}">The Four Chairs</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='' download="y" %}">Delighted in Suffering</a>
                            </li>
                        </ul>
                    </div>

                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/onei2jydxfwadg7/adrian-despres-a-passion-for-christ.pdf' download="y" %}">A Passion For Christ</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/22s6oyjgi8pf20e/adrian-despres-apologetics.pdf' download="y" %}">Apologetics</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/7sfohvfmxkt6jas/adrian-despres-biblical-hermeneutics.pdf' download="y" %}">Biblical Hermeneutics</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/0jfdrn8eu12s9ei/adrian-despres-prayer-and-fasting.pdf' download="y" %}">Prayer and Fasting</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Dianne Drees</h2>

            <div class="kbm-third-col"><img src="/img/not-pictured-small.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/v0vcpsq7vf0zefc/diane-drees-worldview-101-engaging-culture.pdf' download="y" %}">Worldview 101: Engaging Culture</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/9lqyrqyqzaw4ivp/diane-drees-worldview-102--postmodernism-relativism-and-truth.pdf' download="y" %}">Worldview 102: Postmodernism, Relativism, & Truth</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Jim Glanville</h2>

            <div class="kbm-third-col"><img src="/img/not-pictured-small.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/hnnonaiqzl92ua1/jim-glanville-experience-freedom-through-personal-spiritual-warfare.pdf' download="y" %}">Experience Freedom through Personal Spiritual Warfare</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Ron Klopfenstein</h2>

            <div class="kbm-third-col"><img src="/img/kbmstaff/kbm-staff-rklopf.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/9zn41radjkqz4jd/ron-klopfenstein-praise.pdf' download="y" %}">Praise</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Dwight Robertson</h2>

            <div class="kbm-third-col"><img src="/img/kbmspeakers/dwight-robertson.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Audio</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='' download="y" %}">Two Wings That Soar</a>
                            </li>
                        </ul>
                    </div>

                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/ovyvu68czc68bbq/dwight-robertson-baton-passing.pdf' download="y" %}">Baton Passing</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/kh95ge57qbc2404/dwight-robertson-date-alone-with-god.pdf' download="y" %}">Date Alone With God</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/wyswv0fvb9cg6p1/dwight-robertson-in-the-gap.pdf' download="y" %}">In The Gap</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/e64348w1dbucv57/dwight-robertson-main-thing.pdf' download="y" %}">Main Thing</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/jjfranoctkhllca/dwight-robertson-on-earth-as-it-is-in-heaven.pdf' download="y" %}">On Earth As It Is In Heaven</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/89g9y9a8h24jmm3/dwight-robertson-praise.pdf' download="y" %}">Praise</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/9djildnhl3m10kp/dwight-robertson-spirit-directed-living-and-laboring-along-the-way.pdf' download="y" %}">Spirit Directed Living & Laboring Along the Way</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/ne6lfanyigg8psi/dwight-robertson-up-close-impact.pdf' download="y" %}">Up Close Impact</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/u0qg6amztgc1538/dwight-robertson-value-of-one.pdf' download="y" %}">Value of One</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/6n3evl3s2ar8myl/dwight-robertson-walking-down-faith-street.pdf' download="y" %}">Walking Down Faith Street</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/7s8b8h1a22zxkyu/dwight-robertson-you-are-gods-plan-a.pdf' download="y" %}">You Are God's Plan A</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/t0renm60m2n8rqv/dwight-robertson-your-younique-ministry.pdf' download="y" %}">Your YOU-nique Ministry</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Jason Roe</h2>

            <div class="kbm-third-col"><img src="/img/kbmspeakers/Jason-Roe.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/u3dll0vafix8976/jason-roe-get-over-yourself.pdf' download="y" %}">Get Over Yourself</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/llsvr0jwxu8qq7p/jason-roe-lord-and-savior.pdf' download="y" %}">Lord & Savior</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Tim Reilly</h2>

            <div class="kbm-third-col"><img src="/img/kbmspeakers/tim-reilly.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <<a href="{% include url.html url='https://www.dropbox.com/s/ijzwgn3zjvcqn2q/tim-reilly-compelled-apologetics.pdf' download="y" %}">Compelled: Apologetics</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/bccp37rmlfh9g51/tim-reilly-compelled-intentionality-and-relational-evangelism.pdf' download="y" %}">Compelled: Intentionality & Relational Evangelism</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/6d8yjne8iyiifl8/tim-reilly-compelled-relatable-gospel.pdf' download="y" %}">Compelled: Relatable Gospel</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/8tgsd44ujq087au/tim-reilly-compelled-all.pdf' download="y" %}">Compelled</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Efrem Smith</h2>

            <div class="kbm-third-col"><img src="/img/kbmspeakers/Efrem-Smith.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Audio</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='' download="y" %}">Transformers</a>
                            </li>
                        </ul>
                    </div>

                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/gzkxp5bkupl5f7l/efrem-smith-the-kingdom-of-god.pdf' download="y" %}">The Kingdom of God</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/nkd4rcc2bugdbxx/efrem-smith-the-multi-ethnic-and-missional-life.pdf' download="y" %}">The Multi-Ethnic & Missional Life</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/beqa4nnpg3q1b9h/efrem-smith-the-multi-ethnic-jesus.pdf' download="y" %}">Multi-Ethnic Jesus</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Mick Veach</h2>

            <div class="kbm-third-col"><img src="/img/kbmspeakers/Mick-Veach.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/kl8fq5bxs5p3sgp/mick-veach-the-end-goal-spiritual-reproduction.pdf' download="y" %}">The End Goal, Spiritual Reproduction</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/tworaj9v6svnfxe/mick-veach-world-christian-discipleship.pdf' download="y" %}">World Christian Disipleship</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>John Vermilya</h2>

            <div class="kbm-third-col"><img src="/img/kbmspeakers/Johnny-V.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Audio</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='' download="y" %}">Domino</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='' download="y" %}">Eight Marks of a Disciple</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='' download="y" %}">The Resistance</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='' download="y" %}">>Who's Your Daddy?</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Other Notes</h2>

            <div class="kbm-third-col"><img src="/img/kbmlogo.png" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Notes</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/omurmr4wecxv023/god-sized-vision.pdf' download="y" %}">God Sized Vision</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/ql3rj2w5qnzyd2x/letting-christ-satisfy-and-fulfill-you.pdf' download="y" %}">Letting Christ Satisfy & Fulfill You</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/x166ekzlbruu5sb/living-in-unity-with-all-believers-and-growing-together-with-all-believers.pdf' download="y" %}">Living in Unity with all Believers & Growing Together with all Believers</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/f0lafwcwv7e47k5/values-teaching-template.pdf' download="y" %}">Values Teaching Template</a>
                            </li>

                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/68h3225z77o1b49/what-is-your-cammo.pdf' download="y" %}">What is Your Cammo?</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <div class="kbm-program-content-box">
                <h1>Books</h1>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>Now What?</h2>

            <div class="kbm-third-col"><img src="/img/fuel/now_what_cover.png" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click to Download</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/faz7gvur87wxlbw/KBM-NowWhat_Ebook.pdf' download="y" %}">Now What?</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <h2>It's My Turn</h2>

            <div class="kbm-third-col"><img src="/img/fuel/my-turn-cover.jpg" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click to Download</a></h2>

                    <div class="collapsible">
                        <ul>
                            <li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/6cqa6yjadhjfo6m/KBM-ItsMyTurn_ebook.pdf' download="y" %}">It's My Turn</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <div class="kbm-program-content-box">
                <h1>Videos</h1>
            </div>
        </div></div>
<div class="row">
          <div class="kbm-half-col"><br><br><br><br><br>
            <h1>Your YOU-nique Ministry</h1>
        </div>

        <div class="kbm-half-col">
            <iframe src="http://player.vimeo.com/video/65253858" style="width:450px;height:253px;" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
    </div></div>
    
    
    
     <div class="row"><div class="kbm-full-col">
            <div class="kbm-program-content-box">
                <h1>Life Plan Templates</h1>
            </div>
        </div></div>

        <div class="row"><div class="kbm-full-col">
            <div class="kbm-third-col"><img src="/img/training/lifeplan/lifeplan-logo.png" style="width:100%;"></div>

            <div class="kbm-twothird-col">
                <div class="kbm-program-content-box">
                    <h2 class="collapse-button"><a>Click for Templates</a></h2>

                    <div class="collapsible">
to                        <ul>
                        	<li>
                                <a href="{% include url.html url='https://www.dropbox.com/s/pvpxz5wzyu83mpb/life-plan-templates.zip' download="y" %}">Lifeplan Templates for The Experience</a>
                            </li>
                        </ul>
                        <h3>The following files are included in the above download.</h3>
                    <ul>
                            <li>
                                Lifeplan Templates for The Experience
                            </li>

                            <li>
                                Turning Points Profile
                            </li>

                            <li>
                                Vocational Gating Tool
                            </li>

                            <li>
                                Win Wheels
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
