---
layout: default
title: KBM Blog
---
<div class="blog-header">
  <div class="row">
    <div class="large-8 columns large-centered">
     <img src="/img/kbm-blog-logo.png"></a>
    </div>
  </div>
</div>

<div class="row blog-container" style="position:relative;">
  <div class="large-8 columns blog-content">
        {% assign firstpost = site.categories.blog[0] %}
        <div class="row firstpost-row">
        <div class="large-5 columns">
          <img class="firstpost-thumbnail" src="{{ firstpost.poster-image | replace:'www.dropbox.com','dl.dropboxusercontent.com' }}"></img>
        </div>
        <div class="large-7 columns">
        <strong><a href="{{firstpost.url}}">{{firstpost.title}}</a></strong>
        {{firstpost.excerpt}}
        <a href="{{firstpost.url}}">Click here to continue reading...</a>
        </div>
        </div>
        
      <ul class="small-block-grid-1 large-block-grid-3">
        {% for post in site.categories.blog offset:1 %}
        <li><img class="blog-thumbnail" src="{{ post.poster-image | replace:'www.dropbox.com','dl.dropboxusercontent.com' }}"></img>
        <strong><a href="{{post.url}}">{{post.title}}</a></strong>
        {{post.excerpt | truncatewords: 20}} <br><br>
        <a href="{{post.url}}">Click here to continue reading...</a></li>
        {% endfor %}
      </ul>
  </div>

  <div class="large-4 columns blog-sidebar">
    {% include blog-sidebar.html %}
  </div>
</div>