---
layout: default
---
<div class="blog-header">
<div class="row">
  <div class="large-8 columns large-centered">
    <img src="/img/kbm-blog-logo.png"></a>
  </div>
</div>
</div>

<div class="row blog-container" style="position:relative;">
  <div class="large-8 columns">
    {% for post in site.categories.blog %}
      <h1><a href="{{post.url}}">{{post.title}}</a></h1>
      <img class="blog-thumbnail" src="{{ post.poster-image | replace:'www.dropbox.com','dl.dropboxusercontent.com' }}"></img>
      {{post.excerpt}} <a href="{{post.url}}">Click here to continue reading.</a>
      {% endfor %}
  </div>
  <div class="large-4 columns blog-sidebar">
    {% include blog-sidebar.html %}
  </div>
</div>