---
layout: default
title: Kingdom Building Ministries Blog
highlight-menu-id: fuel
---
{% assign firstpost = site.categories.blog[0] %}
<div class="row firstpost-blog-thumbnail"
      style="background-image: url('{% include img-url.html url=firstpost.poster-image %}');">

      <div class="large-5 columns firstpost-blog-content">

          <h1><a href="{{firstpost.url}}">{{firstpost.title}}</a></h1>
          <p class="author">{% if firstpost.author and firstpost.author != "no-author" %}by

            {% include author.html id=firstpost.author get='name' %}
          {% endif %}
          </p>
          {{firstpost.excerpt | strip_html | truncatewords: 100}} <br><br>
          <a class="box-link" href="{{firstpost.url}}">Continue Reading</a><br><br>
      </div>

</div>

<div class="row blog-container" style="position:relative;">
  <div class="large-9 columns blog-content">
    {% include blog-post-list.html posts=site.categories.blog offset=1 %}
  </div>

  <div class="large-3 columns blog-sidebar">
    {% include blog-sidebar.html %}
  </div>
</div>
