---
layout: tag-list
title: 'Topics'
---
<ul class="tag-grid small-block-grid-2 large-block-grid-3">
  {% for topic_posts in site.tags %}
  <li>
        {% capture topic %}{{ topic_posts | first }}{% endcapture %}
        {% assign first_post = topic_posts[1][0] %}
        {% capture tag_link %}{% include sanitize_tag.html tag_type="author" tag=topic %}{% endcapture %}
        <a href="{{tag_link}}">
          <div class="blog-thumbnail" style="background-image:url('{% include url.html url=first_post.poster-image %}');"></div>
          <h3>{{ topic_posts | first }}</h3>
        </a>
  </li>
  {% endfor %}
</ul>
