
.kbmdeepcamp {
	#kbm-body {
		background: url(#{$images}/training/deepcamp/deepcamp-body-bg.jpg) -10px -200px repeat-x fixed;
	}
	#kbm-header {
		background: url(#{$images}/training/deepcamp/deepcamp-header-bg.jpg) -750px 0px repeat-x ;
		margin-top: -20px;
	}
}