.introduction-section {
  padding-top: 20px;
  color: #fff;
  background-image:url(/img/home/linen.jpg);
  text-align: justify;
  font-family: 'Roboto', Helvetica, sans-serif;
  p {
    font-size: 1.1em;
  }
  em {
    color: #cb222f;
    text-transform: uppercase;
    font-style: normal;
    font-family: Helvetica, sans-serif;
  }
  h1 {
    margin-right: 12px;
    margin-left: -2px;
    margin-bottom: -2px;
    float: left;
    font-size: 34px;
    line-height: 42px;
    background-color: rgba(255, 255, 255, 0.2);
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 2px 2px 2px 9px;
    @media #{$not-mobile} {
      width: 50%;
      float: left;
    }
  }
  .section-1, .section-2 {
    @include grid-column(12);
    @media #{$not-mobile} {
      @include grid-column(6);
    }
  }
}

.message-quote {
  background: rgba(255,255,255,0.86);
  position: relative;
  -moz-border-radius: 10px 10px 0px 10px; 
  -webkit-border-radius: 10px 10px 0px 10px; 
  border-radius: 10px 10px 0px 10px;
  padding: 11px 15px 10px 10px;
  margin-bottom: 40px;
  color: black;
  h1 {
    float: none;
    width: auto;
    font-size: 34px;
    background: none;
  }
}

.message-quote:before {
  content:"";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-right: 26px solid rgba(255,255,255,0.86);
  border-bottom: 35px solid transparent;
  right: 0;
  bottom: -35px;
}

.signature {
  font-style: italic;
}

.featured {
  margin-top:-20px;
}

#slider ul li img {
  width: 100%;
}

// Lets get this working
/* #slider ul li:first-child { */
/*     display: block; */
/* } */

/* #slider ul li, #slider ul li .orbit-caption { */
/*     display: none; */
/* } */
