.introduction-section {
    padding-top: 20px;
    color: #fff;
    background-image:url(/img/home/linen.jpg);
    text-align: justify;
    em {
        color: red;
    }
    h1 {
        display: block;
        color: #fff;
        @media #{$not-mobile} {
            width: 50%;
            float: left;
        }
    }
    .section-1, .section-2 {
        @include grid-column(12);
        @media #{$not-mobile} {
            @include grid-column(6);
        }
    }
 }

.featured {
    margin-top:-20px;
}

#slider ul li img {
    width: 100%;
}

// Lets get this working
/* #slider ul li:first-child { */
/*     display: block; */
/* } */

/* #slider ul li, #slider ul li .orbit-caption { */
/*     display: none; */
/* } */
