
.kbmspeakers {
	#kbm-body {
		background: url(#{$images}/kbmspeakers/speakers-body-bg.jpg) 0px 0px repeat-x fixed;
	}
	#kbm-header {
		background: url(#{$images}/kbmspeakers/speakers-header-bg.jpg) repeat-x 500px;
		margin-top: -20px;
	}
}