.speaker-schedule {
    li {
        height: 240px;
        padding: 7px;
    }
    li > div {
        border-radius:5px;
        background: #d1d1d1;
        padding: 7px;
        height: 100%;
    }
    h3 {
    font-size: 1.1em;
    font-weight: 500;
    }
}