---
layout: basic
alias:
  - /devotionalguides
  - /devotional-guides
---

.row
  .large-6.columns
    <img src="/img/fuel/advent-and-christmas.png"/>

  .large-6.columns
    :markdown
      # *Easter* & *Christmas* Devotionals

      ### To download KBMs Easter & Christmas Devotionals, [Click Here]({% include url.html url="https://www.dropbox.com/s/ijheo945axiph6f/easter-and-christmas-devotionals.zip" download="y" %})
