---
layout: basic
title: Eight Marks of a Disciple
---
.row
  .large-6.columns
    <a href="http://kbm.donorshops.com/product/JV0006/eightmarksstudyguide.php"><img src="/img/fuel/eight-marks/eight-marks.jpg"/></a>

  .large-6.columns
    :markdown
      These marks were revealed by Jesus in His teaching. They are hard truths that thin the ranks of the multitudes claiming to be Christian, but they also instruct those who genuinely desire to worship and follow Jesus—no matter what the cost.  

      Many people go to church, pray, wear a cross around their neck, sometimes read the Bible, and claim to be Christians. However, a close examination of the way they live their lives exposes the truth. Their faith isnot about God—it’s about them. Their lives are committed to their own agenda, not God’s. Their faith is more like a “good-luck” charm than a dynamic commitment to a cause greater them themselves. They are posers—not true disciples. And Jesus warned that they would be surprised when they stood before him and faced the truth about themselves.  
.row
  .large-12.columns
    :markdown
      A disciple is different. A disciple loves, worships, follows, obeys, and submits his life in devotion to Jesus, His kingdom and His agenda. For a disciple, Jesus is King, Master, Teacher, Savior, Lord and friend—the very source of life. A disciple is a special kind of student—one who is totally committed to staying up close and personal to the master, and learning His ways.  
  
      God sent Jesus to earth not only to die for our sins, but also to show us how to live. He promised that those who followed His example would find freedom and *real life*.

.row
  .large-12.columns
    :markdown
      ## Eight Marks Audio CD  
.row
  .large-8.columns
    :markdown
      ### [Purchase Online Now](http://kbm.donorshops.com/product/JV0005/eightmarkscd.php)
      This audio resource teaches the eight marks of a disciple in short 7-10 minute tracks. The CD can be utilized personally orin a group as individual lessons or in one long session. Each audio track begins with the words of Jesus as recorded in the Scriptures, and features original music that enhances the learning experience. Whether you are a new Christian or a weathered veteran, this CD should challenge and fuel your spiritual journey.
  .large-4.columns
    <a href="http://kbm.donorshops.com/product/JV0005/eightmarkscd.php"><img src="/img/fuel/eight-marks/eight-marks-cd.jpg"/></a>

.row
  .large-12.columns
    :markdown
      ## Eight Marks Study Guide
.row
  .large-12.columns
    :markdown
      ### [Download Now]({% include url.html url="https://www.dropbox.com/s/rnp6y2ea2p2k2vn/Eight%20Marks%20of%20a%20Disciple%20Study%20Guide.pdf" download='y' %})
      This resource is a free, downloadable study designed to enhance individual or group learning.
.row
  .large-12.columns
    :markdown
      > "John, In December God connected with a teen in Atlanta GA and who ended up giving his life to Christ. After returning from the Love Mercy Youth Convention I mailed him your CD. He went through it and mentioned to me how it impacted his life. I have had other teens in my Youth Group say the same thing. I wanted you to know that your CD is effective in helping with the transformation process. It is the first thing I give a teen after they make a commitment to Christ to help them in that first 10 days. **It is one of the most effective tools I have to give out in my youth ministry**. God really lead you in this and wanted to let you know that God is using it."  
      ~ Brad, Michigan  
      
      
      > "As a Christian, the “8 Marks” series is a reality-check for me; a pop-quiz, of sorts. You don’t see the question coming, then it hits you **...Do you REALLY love Jesus?** The marks to becoming a disciple of Christ ...wow. I didn’t know how much I needed to hear them. Revived and humbled by these 8 Marks.  
      ~ Kristi, Mississippi  
      
      
      > "A Captivating listen! The stories, narratives, and music are heartfelt! Each of the “8 Marks” presented are distinctive and vital, in there own nature, to becoming a disciple of Christ. Some of the principles I had thought about but others I had not ...until now! **...A Complete Re-Charge**!"  
      ~ Jonathan, Blind Faith Ministries