---
layout: basic
alias:
  - /personal-ministry-inventory
  - /personalministryinventory
---

.row
  .large-6.columns
    <img src="/img/fuel/personal-ministry-inventory.png"/>

  .large-6.columns
    :markdown
      # *Personal* Ministry Inventory

      ### To download Kingdom Building Ministries' Personal Ministry Inventory, [Click Here]({% include url.html url="https://www.dropbox.com/s/5fm5csg5rqvme8k/kbm_personal_ministry_inventory.pdf" download="y" %})
