---
layout: default
alias: /faithstreet
title: Faith Street
---
<div id="kbm-basic-layout2">
<style>
    .kbm-large-icon {
      width: 90px !important;
       height: auto !important;
      float: left;
      margin:-10px 7px 0px 0px !important;
      border:none;
      box-shadow: none !important;
    }
    </style>
    
<div id="kbm-header" class="lifght">
  <div class="kbm-header-content">
    <div class="kbm-full-col">
      <iframe style="height:520px;" src="//player.vimeo.com/video/92779361?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </div>
</div>

<div id="kbm-body"></div>
  
    <div class="row">
    <div class="large-6 columns" style="text-align: left;">
      <h1 style="text-align: left;"><em>Faith</em> Street</h1>
      <p> Do you feel faith tapping on your shoulder? The kind of faith that not only asks you to believe in the impossible, but also asks you to be a vessel God works through? Logic tells you there is much calculation to be had and that you’re not the best candidate, but the Spirit of God inside reminds you that your God doesn’t work within the law of averages and His first-round draft choices are ordinary people like yourself. The choice is yours…will you step forward? Welcome to Faith Street.</p> 
      
      <p> This dynamic teaching from Dwight Robertson will help you find your footing along the faith journey God has called you to, and will also provide the encouragement you’ll need to battle the fears you’ll face. It’s time to move from simply having a “saving faith” to embracing what a lifestyle of “living by faith” means. The Kingdom of God is moving forward and is awaiting more faith-filled laborers who will say, “yes”, no matter the path. 
      </p>
      <blockquote>
        “Trust in the Lord with all your heart, lean not on your own understanding. In all your ways acknowledge Him and He will direct your path.” Proverbs 3:5-6 
      </blockquote>
    </div>
    
    <div class="large-6 columns" style="text-align: left;"><h2>Duration: 124 min.</h2>
      <a href="{% include url.html url="https://www.dropbox.com/s/6n3evl3s2ar8myl/dwight-robertson-walking-down-faith-street.pdf" download="y" %}">
        <img class="kbm-large-icon" src="/img/events/folder-icon.png" /></a>
      <a href="{% include url.html url="https://www.dropbox.com/s/6n3evl3s2ar8myl/dwight-robertson-walking-down-faith-street.pdf" download="y" %}">
        <h2>Download</h2></a>
      <h2>Notes/Worksheet</h2>  
    </div>
       
</div>