---
layout: default
alias: /faithstreet
title: Faith Street
---
<div id="kbm-basic-layout2">
  <style>
    .kbm-large-icon {
      width: 90px !important;
       height: auto !important;
      float: left;
      margin:-10px 7px 0px 0px !important;
      border:none;
      box-shadow: none !important;
    }
    </style>
    <div id="kbm-header" class="lifght">
        <div class="kbm-header-content">
            <div class="kbm-full-col">
                <iframe style="height:520px;" src="//player.vimeo.com/video/92779361?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>

            <div class="kbm-clearfix"></div>
        </div>
    </div>

    <div id="kbm-body">
        
        <div class="row"><div class="kbm-half-col" style="text-align: left;">
          <h1 style="text-align: left;"><em>Faith</em> Street</h1>
          
        </div>
</div>

        <div class="kbm-clearfix"></div>
        <div class="row"><div class="kbm-half-col" style="text-align: left;">
            
            <h2>Duration: 124 min.</h2>
        </div>
        <div class="kbm-half-col" style="text-align: left;">
        <a href="{% include url.html url="https://www.dropbox.com/s/6n3evl3s2ar8myl/dwight-robertson-walking-down-faith-street.pdf" download="y" %}"><img class="kbm-large-icon" src="/img/events/folder-icon.png"></a>
        <a href="{% include url.html url="https://www.dropbox.com/s/6n3evl3s2ar8myl/dwight-robertson-walking-down-faith-street.pdf" download="y" %}"><h2>Download</h2></a><h2>Notes/Worksheet</h2>
        </div>
</div>        
    </div>
</div>
 