---
layout: basic
alias: /holyweekguide
title: Holy Week Guide
---
.row
  .large-6.columns
    <img src="/img/fuel/holy-week-guide-cover.png"/>

  .large-6.columns
    :markdown
      ### [Click here to download Kingdom Building Ministries Holy Week Guide.]({% include url.html url="https://www.dropbox.com/s/v5ie1ve135qx0ge/2013-KBM-Holy-Week-Guide.pdf" download="y" %})