---
layout: basic
alias: /itsmyturn
---
.row
  .large-6.columns
    <img src="/img/fuel/my-turn-cover.jpg"/>

  .large-6.columns
    :markdown
      Relay races are won or lost at the handoff of the baton. In the same way, Christianity has survived nearly two thousand years because of millions of successful baton handoffs. 

      This book is about fifteen faithful "runners" who not only passed on their faith, but lived it out in a real, vibrant way. And as we observe the lives of these believers, they can serve as our mentors! In fact, mentoring is one of the most effective methods of passing on the baton. It's the way Christ and His disciples have shared their faith for centuries, and it simply involves living out your faith in front of those around you.
      
      Now, it's your turn. The baton is in your hands! Will you carry Christ's message into the next generation?
      
      Right click on the link below & select 'save as' to download your free PDF of the Its My Turn book!
      
      ### [Download your free copy of the *It's My Turn* ebook.]({% include url.html url="https://www.dropbox.com/s/6cqa6yjadhjfo6m/KBM-ItsMyTurn_ebook.pdf" download="y" %})
      
      ### [Click Here](http://kbm.donorshops.com/product/KBM0006/itsmyturn.php) if you would like to purchase a physical copy of the book.