---
layout: basic
alias: /nowwhat
---
.row
  .large-6.columns
    <img src="/img/fuel/now_what_cover.png"/>

  .large-6.columns
    :markdown
      The *Now What?* book is a powerful resource full of tips from Kingdom Building Ministries speakers who travel the country and the world sharing the life changing power of Jesus.
      
      They Want your relationship with Jesus to stay strong. In Now What? you'll find that they share practical ways to stay close to your Savior.
      
      Right click on the link below & select 'save as' to download your free PDF of the Now What book!
      
      ### [Download your free copy of the Now What? ebook.]({% include url.html url="https://www.dropbox.com/s/faz7gvur87wxlbw/KBM-NowWhat_Ebook.pdf" download="y" %})
      
      ### [Click Here](http://kbm.donorshops.com/product/KBM0005/nowwhat.php) if you would like to purchase a physical copy of the book.