---
highlight-menu-id: fuel
---

{% include header.html %}

<div class="blog-post-container">
  {% if page.poster-image %}
  <div class="row blog-poster-img-crop"
       style="background-image: url('{% include url.html url=page.poster-image %}');">
  {% else %}
  <div class="row blog-poster-no-img">
  {% endif %}
    <div class="large-10 columns blog-title">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  
  <div class="row" style="position:relative;">
    <div class="large-9 columns blog-content">
      {% include social-sharing-bar.html %}
      
      {% include author-bio.html %}
      
      {{ content }}
      <p class="muted">{{ page.date | date_to_long_string }}</p>
      
      {% include social-sharing-bar.html %}    
    
    <!-- START: Livefyre Embed -->
    <div id="livefyre-comments"></div>
    <script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
    <script type="text/javascript">
    (function () {
        var articleId = fyre.conv.load.makeArticleId(null);
        fyre.conv.load({}, [{
            el: 'livefyre-comments',
            network: "livefyre.com",
            siteId: "352709",
            articleId: articleId,
            signed: false,
            collectionMeta: {
                articleId: articleId,
                url: fyre.conv.load.makeCollectionUrl(),
            }
        }], function() {});
    }());
    </script>
    
    <!-- END: Livefyre Embed -->
    
    </div>
    
      <div class="large-3 columns blog-sidebar">
    	  <h3><a href="/blog">Blog Home</a></h3>
        {% include blog-sidebar.html %}
      </div>
    </div>
    
  </div>
</div>
 
{% include footer.html %}