{% include header.html %}
<div class="blog-post-container">
<div class="row" style="position:relative;">
  <div class="large-8 columns blog-content">
    {% if page.poster-image %}
    <img class="blog-poster-img" src="{% include url.html url=page.poster-image %}"/>
    {% endif %}
    <h1>{{ page.title }}</h1>
    <p class="muted">{{ page.author }} {{ page.date | date_to_long_string }}</p>
    {{ content }}
  </div>

  <div class="large-4 columns blog-sidebar">
    <img src="/img/kbm-blog-logo.png"/>
    {% include blog-sidebar.html %}
  </div>
</div>
</div>
{% include footer.html %}
