{% include header.html %}
<div class="blog-post-container">
  {% if page.poster-image %}
  <div class="row blog-poster-img-crop"
       style="background-image: url('{% include url.html url=page.poster-image %}');">
  {% else %}
  <div class="row blog-poster-no-img">
  {% endif %}
    <div class="large-10 columns blog-title">
      <h1>{{ page.title }}</h1>
      {% if page.author %}<h3>by {{ page.author }}</h3>{% endif %}
    </div>
  </div>
  <div class="row" style="position:relative;">
    <div class="large-8 columns blog-content">
      {{ content }}
      <p class="muted">{{ page.author }} {{ page.date | date_to_long_string }}</p>
    </div>

    <div class="large-4 columns blog-sidebar">
      <img src="/img/kbm-blog-logo.png"/>
      {% include blog-sidebar.html %}
    </div>
  </div>
</div>
{% include footer.html %}
