---
---
{% include header.html %}

<!-- scholarship overrides, delete when done -->
<style>
.featured {
  margin-top: 20px;
  padding-top: 5px;
}
.home-scholarship {
  background-color: #E6E6E6;
  padding-top: 40px;
}
</style>

<div class="home-scholarship">
<div class="row">
  <div class="large-12 columns">
    <a href="/get-involved/scholarship/candidates">
      <h3>Help scholarship a 2014 student to make an impact that will last a lifetime.</h3>
    </a>
    {% include scholarships.html first_name='y' %}
  </div>
</div>
</div>

<div class="featured">
  <div id="slider">
    <ul data-orbit>
      {% for image in page.slider %}
      <li data-orbit-slide="headline-1">
        <a href="{{ image.link }}"><img src="{{ image.url }}"></a>
        {% endfor %}
    </ul>
  </div>
</div>

{{ content }}

{% include footer.html %}
