{% include header.html %}
<div class="blog-post-container">
  <div class="row" style="position:relative;">
    <div class="large-3 columns speaker-schedule-sidebar">
      <h1>Filter by Speaker</h2>
      <h3><a href="">All Speakers</a></h3>
      {% for speaker in site.data.speakers %}
      <h3><a href="{{ speaker.value }}">{{ speaker.name }}</a></h3>
      {% endfor %}
    </div>
    <div class="large-9 columns speaker-schedule-content">
      <h1>{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
</div>
{% include footer.html %}
